<div class="content">
    <p class="title is-size-1 has-text-weight-bold" style="font-family:'Candara'">Q-Pon</p>
    <p class="subtitle is-size-4 has-text-weight-light">Redeem your coins for dining coupons.</p>
</div>

<div class="card table-container">
    <table id="t1" class="table is-bordered is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Restaurant</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% coupons.forEach( function(coupon) { %>
                <tr>
                    <td><%= coupon.id %></td>
                    <td><%= coupon.title %></td>
                    <td><%= coupon.restaurant %></td>
                    <td><a href="/coupon/update/<%= coupon.id %>">Update</a></td>
                    <td><a href="#" onclick="checkHolders(<%= coupon.id %>);return false">Redeemed Members</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>    

<script>
    async function checkHolders(id) {

        var response = await fetch("/coupon/" + id.toString() + "/holders", {
            method: "GET"
        });
  
        if (response.ok) {
            
            var coupon = await response.json();

            var users = coupon.holders
            
            var dynamicCode = '<thead><tr><th>ID</th><th>Username</th><th>Coins</th></tr></thead>';

            dynamicCode += '<tbody>';
            
            users.forEach(function (user) {
                dynamicCode += "<tr><td>" + user.id + "</td><td>" + user.username + "</td><td>" + user.coins.toString() + "</td></tr>";
            });

            dynamicCode += '</tbody>';
            
            document.querySelector("#t1").innerHTML = dynamicCode;
            
        } else {
            alert(response.status + ": " + response.statusText);
        }
    };
</script>


