<div class="content">
    <h1 class="is-sans-serif">Q-Pon</h2>
    <p>Redeem your coins for dining coupons.</p>
</div>

<div class="columns mt-6">
    
    <% coupons.forEach( function(region) { %>
        <div class="column">
            <div class="content">
                <h5><strong><%= region.name %></strong></h5>
            </div>
            <% region.query.forEach( function(coupon) { %>
                <div class="card mb-4">
                    <div class="card-image">
                        <figure class="image is-4by3">
                          <a href="/coupon/<%= coupon.id %>">
                            <img src="<%= coupon.image %>" alt="Placeholder image">
                          </a>
                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="media">
                          <div class="content">
                            <p class="title is-4"><a href="/coupon/<%= coupon.id %>"><%= coupon.restaurant %></a></p>
                            <p class="subtitle is-6"><%= coupon.title %></p>
                          </div>
                        </div>      
                        <div class="content">
                          Coins: <%= coupon.coins %>
                        </div>
                      </div>
                </div>
            <% }); %>
        </div>
    <% }); %>

</div>