<div class="columns is-6">
  <div class="column card is-three-fifths">
    <div class="image">
      <figure class="image is-4by3">
          <img src="<%= coupon.image %>" alt="Placeholder image" />
      </figure>
    </div>
  </div>
  <div class="column">
    <div class="content px-4 py-4">
        <p class="title">
        <%= coupon.restaurant %>
        </p>
        <p class="is-size-5"><%= coupon.title %></p>
        <ul>
          <li>
            <b>Coins:</b> <%= coupon.coins %>
          </li>
          <li>
            <b>Address:</b> <%= coupon.mall %>, <%= coupon.region %>
          </li>
          <li>
            <b>Expiry Date:</b> <%= coupon.exdate %>
          </li>
          <li>
            <%= coupon.detail %>
          </li>
        </ul>
    </div>
  </div>
</div>
