<div class="columns card mt-2">
  <div class="column is-three-fifths">
    <div class="image">
      <figure class="image is-4by3">
          <img src="<%= coupon.image %>" alt="Placeholder image" />
      </figure>
    </div>
  </div>
  <div class="column">
    <div class="content px-4 py-4">
        <p class="title">
        <%= coupon.restaurant %>
        </p>
        <p class="is-size-5"><%= coupon.title %></p>
        <ul>
          <li>
            <b>Coins:</b> <%= coupon.coins %>
          </li>
          <li>
            <b>Address:</b> <%= coupon.mall %>, <%= coupon.region %>
          </li>
          <li>
            <b>Expiry Date:</b> <%= coupon.exdate %>
          </li>
          <li>
            <%= coupon.detail %>
          </li>
        </ul>
      </div>
      <div class="buttons is-centered">
        <button  id="btn1" type="button" class="button is-link" onclick="redeemCoupon('<%= coupon.id %>')">Redeem</button>
      </div>
  </div>
</div>

<script>
  async function setButton(){

    if("<%= req.session.role %>" != "member"){
      document.getElementById("btn1").disabled = true;
      return;
    }

    var response = await fetch("/user/coupon/" + "<%= coupon.id %>", {
        method: "GET"
    });

    if (!response.ok) document.getElementById("btn1").remove();
  }

  setButton();

</script>

<script>
  async function redeemCoupon(id) {
      var r = confirm("Confirm Redeem?");
      
      if (r) {
          var response = await fetch("/user/coupons/add/" + "<%= coupon.id %>", {
              method: "POST"
          });

          if (response.ok) {
              alert("Succefully redeemed.");
          } else {
              alert("Bad request");
          }

      } else {
          alert("Cancelled");
      }
      location.reload(true);
  };
</script>
